{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block title %}Register{% endblock %}

{% block css %}
	<style type="text/css">
		body {
			background-image: url("{% static 'img/background.jpg' %}");
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
			padding-top: 5%;
		}

		.container {
			width: 500px;
			padding-bottom: 2%;
			background-color: #343a40;
			-webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);
		}
	</style>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<blockquote class="blockquote text-center" style="margin: 0; padding-top: 5%;">
				<h1><img src="{% static 'img/logo.png' %}" width="70" height="70"><strong style="color: #fff;">Easynote</strong></h1>
				<footer class="blockquote-footer">Keep your data safe with encrypted note.</footer>
			</blockquote>
		</div>
		<hr>
		<div class="row justify-content-center" style="padding-top: 5%;">
			<form method="post" action="">
				{% csrf_token %}
				{% for field in form %}
					{% if field.name == "username" %}
						<div class="row">
							<div class="form-group">
								<div class="input-group">
							    	<div class="input-group-prepend">
						    			<div class="input-group-text">
						    				<i class="fa fa-user"></i>
						    			</div>
							    	</div>
						    		{{ field }}
						   		</div>
						   	</div>
						</div>
					{% elif field.name == "password" %}
						<div class="row">
							<div class="form-group">
								<div class="input-group">
							    	<div class="input-group-prepend">
						    			<div class="input-group-text">
						    				<i class="fa fa-lock"></i>
						    			</div>
							    	</div>
						    		{{ field }}
						   		</div>
						   	</div>
						</div>
					{% else %}
						<div class="row">
							<div class="form-group">
								<div class="input-group">
							    	<div class="input-group-prepend">
						    			<div class="input-group-text">
						    				<i class="fa fa-check"></i>
						    			</div>
							    	</div>
						    		{{ field }}
						   		</div>
						   	</div>
						</div>
					{% endif %}
					{% if messages|length > 0 %}
						{% for message in messages %}
							{% if field.name == message.tags|xsplit:0 %}
								<script type="text/javascript">
									$("#id_{{ field.name }}").attr("data-toggle","tooltip");
									$("#id_{{ field.name }}").attr("data-placement","top");
									$("#id_{{ field.name }}").attr("data-html","true");
									$("#id_{{ field.name }}").attr("title","<span class='font-weight-bold'><i class='fa fa-close'></i> {{ message }}</span>");
									$("#id_{{ field.name }}").tooltip();
								</script>
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}
				<div class="row justify-content-center">
					<div class="form-group">
						<button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> Register</button>
						<button class="btn btn-secondary" type="button" onclick="window.location='/login/'"><i class="fa fa-sign-in"></i> Login</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block js %}
	{% if messages|length > 0 %}
		<script type="text/javascript">
			$(function() {
				{% for message in messages %}
					{% if "register" == message.tags|xsplit:0 %}
						Topper({
							"title":"",
							"text":"<span class='font-weight-bold'><i class='fa fa-close'></i> {{ message }}</span>",
							"style":"danger",
							"type":"top",
							"autoclose":true,
							"autocloseAfter":3000
						});
					{% endif %}
				{% endfor %}
			});
		</script>
	{% endif %}
{% endblock %}
