{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block header %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggler" aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'dashboard' %}">
      <img src="{% static 'img/favicon.ico' %}" height="35" width="35">
      <span>Easynote</span>
    </a>

    <div class="collapse navbar-collapse" id="navbar-toggler">
      <div class="navbar-nav mr-auto mt-2 mt-lg-0">
        <a class="nav-item nav-link" href="{% url 'create_new_note' %}"><i class="fa fa-plus"></i> New note</a>
        <a class="nav-item nav-link" href="{% url 'view_available_notes' %}"><i class="fa fa-sticky-note"></i> Notes</a>
      </div>
      <div class="navbar-nav navbar-right">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle btn btn-outline-primary my-2 my-sm-0 font-weight-bold" href="#" data-toggle="dropdown" style="color: #fff;"><i class="fa fa-user"></i> {{ user.username }}</a>
          <div class="dropdown-menu dropdown-menu-right" style="background-color: #e9ecef !important;">
            <a class="dropdown-item" href="{% url 'view_current_profile'%}"><i class="fa fa-id-card-o"></i> Profile</a>
            <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
{% endblock %}
